

.video-responsive{
  width: 99.5% !important;
  height: auto !important;
}

video{
  border-radius: .4rem !important;
}


// slyder comments style
.swiper-slide {
  padding-bottom: 50px;
}
.swiper-pagination-bullet{
  width: 1rem !important;
  height: 1rem !important;
  background-color: #ffffff !important;
  margin-left: .5rem !important;
}